.food-title {
  font-size: 50px;
  padding-left: 5%;
  text-align: left;
}
.food-subtitle {
  font-size: 30px;
  padding-left: 5%;
  text-align: left;
}
.food-outter {
  justify-content: space-between;
  text-align: center;
}
.food-image {
  display: inline-block;
  width: 530px;
  box-shadow: 5px 5px #dbbea4;
  margin: 5px;
  height: 324px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
}

.food-text {
  padding-top: 30px;
  display: inline-block;
  width: 530px;
  line-height: 23px;
  text-align: center;
  font-size: 25px;
  vertical-align: top;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 450px) {
  .food-image {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .food-text {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
    font-size: 17px;
    line-height: 17px;
  }
}
.food-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #000000;
  border-radius: 78px;
  font-size: 30px;
  width: 120px;
}
.sub-title {
  font-size: 35px;
  text-align: left;
  display: block;
}

.category-title {
  font-size: 35px;
  text-align: left;
  display: block;
}
.category-outter {
  vertical-align: top;
  display: inline-block;
}
.big-category-outter {
  padding-left: 80px;
}
