.food-panel-outter {
  display: inline-block;
}
.food-panel-image {
  display: block;
  width: 530px;
  box-shadow: 5px 5px #dbbea4;
  margin: 5px;
  height: 324px;
  object-fit: cover;
}
.food-panel-text-outter {
  width: 560px;
  display: block;
  text-align: left;
}
.food-panel-name {
  font-size: 50px;
  display: block;
}
.food-panel-text {
  font-size: 30px;
  display: block;
}
.food-selected-border {
  border: 6px dashed lightgreen;
}
.reserve-amount-button {
  display: inline-block;
  padding: 5px;
  font-size: 40px;
}
.reserve-amount-text {
  display: inline-block;
  padding: 5px;
  font-size: 40px;
}
