.header-outter {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px 0px;
  text-align: center;
}
.header-container {
  position: relative;
  text-align: center;
  display: block;
}
.header-logo {
  font-size: 32px;
  width: 94px;
  color: #707070;
}
.header-menu {
  transform: translate(-50%, -50%);
  width: 40px;
  top: 50%;
  position: absolute;
  margin: 0px 7px;
  right: 2%;
  height: 15px;
  border-top: 6px solid #707070;
  border-bottom: 6px solid #707070;
  display: inline-block;
}
.header-menu-opened {
  border-top: none;
  border-bottom: none;
  font-size: 50px;
  top: 18%;
}
.menu-item {
  font-size: 25px;
  display: block;
  color: black;
  text-decoration: none;
}
.background-perl {
  background-color: #dbbea4;
}
.menu-item:hover {
  background-color: #dbbea4;
  transition-duration: 0.6s;
}
