.login-contents-outter {
  padding-top: 140px;
  text-align: center;
}
.login-submit-button {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: #dbbea4;
  border-radius: 10px;
  display: inline-block;
}
